ion-content {
  --background: #003b6f;
  padding: 16px;
  padding-bottom: 100px;
  scroll-behavior: smooth;
}

.form-container {
  padding: 14px;
}

/* Posisi panah ion-select */
ion-select::part(icon) {
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

ion-card {
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

ion-item {
  border-radius: 8px;
  --background: #ffffff;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

ion-modal {
  --width: 100%;
  --height: auto;
  --border-radius: 16px;
}

.submit-button {
  margin-top: 24px;
  --background: #083f73; /* DIUBAH: Warna primer yang konsisten */
  --background-activated: #002f5e;
  --border-radius: 12px;
  --box-shadow: none;
  font-weight: bold;
  height: 48px;
  text-transform: none;
  font-size: 16px;
  border-radius: 20px;
}

ion-header {
    --background: #ffffff;
    position: relative;
    z-index: 2;
}

.centered-toolbar {
  position: relative;
}

.centered-title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  top: 50%;
  transform: translateY(-50%);
}

.datetime-wrapper {
  margin-top: -8px;
  margin-bottom: 16px;
  background: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  ion-datetime {
    width: 100%;
    --background: transparent;
    margin-bottom: 12px;
  }
}

ion-card {
  margin-bottom: 100px; /* Memberikan ruang antara card presensi dan tombol kirim */
}

.datetime-button {
  --background: #003b6f;
  --color: white;
  font-weight: 500;
  border-radius: 8px;
}