<ion-content [fullscreen]="true">
  <div class="reset-wrapper">
    <ion-card class="reset-card">
      <ion-card-content>

        <img src="assets/logo.png" alt="logo" class="logo" />
        <h2>Atur Ulang Password</h2>

        <!-- Password Baru -->
        <ion-item>
          <ion-input
            [type]="showPassword ? 'text' : 'password'"
            label="Password Baru"
            label-placement="floating"
            fill="outline"
            placeholder="Masukkan password baru"
            [(ngModel)]="newPassword"
          ></ion-input>
          <ion-icon
            [name]="showPassword ? 'eye' : 'eye-off'"
            slot="end"
            class="password-icon"
            (click)="togglePasswordVisibility()"
          ></ion-icon>
        </ion-item>

        <!-- Ulangi Password -->
        <ion-item>
          <ion-input
            [type]="showConfirmPassword ? 'text' : 'password'"
            label="Ulangi Password"
            label-placement="floating"
            fill="outline"
            placeholder="Ulangi password baru"
            [(ngModel)]="confirmPassword"
          ></ion-input>
          <ion-icon
            [name]="showConfirmPassword ? 'eye' : 'eye-off'"
            slot="end"
            class="password-icon"
            (click)="toggleConfirmPasswordVisibility()"
          ></ion-icon>
        </ion-item>

        <ion-button expand="block" shape="round" (click)="resetPassword()">
          Simpan Password Baru
        </ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
