ion-content {
  --background: #004080; // biru gelap
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

img.logo {
  width: 150px;          /* Sesuaikan ukuran */
  height: 150px;         /* Sama dengan width untuk membulatkan */
  border-radius: 50%;    /* Inilah yang membuat gambar menjadi bulat */
  object-fit: cover;     /* Agar gambar tidak gepeng */

}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto; // <--- Ini yang penting untuk center
}

h2 {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.login-card {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

ion-card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

// ion-input {
//   --padding-start: 12px;
//   --padding-end: 12px;
//   --padding-top: 16px;
//   --padding-bottom: 8px;
//   --highlight-color-focused: #00b4d8;
//   font-size: 16px;
// }

ion-input {
  --padding-top: 4px;
  --padding-bottom: 4px;
  font-size: 15px;
  --highlight-color-focused: #00b4d8;
}

ion-checkbox {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 14px;
  white-space: normal; /* penting agar teks bisa turun ke bawah */
  line-height: 1.4;
  --padding-start: 0;
  --padding-end: 0;
  max-width: 100%;
}

ion-item {
  --min-height: 56px;
  --padding-top: 6px;
  --padding-bottom: 6px;
  font-size: 15px;
}

.login-btn {
  --background: linear-gradient(135deg, #0077b6, #00b4d8);
  --color: white;
  --border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.register-link {
  margin-top: 10px;
  text-align: center;

  a {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
  } 
}
