<ion-content [fullscreen]="true">
  <!-- BAGIAN ATAS (BIRU) -->
  <div class="top-section">
    <img src="assets/logo_only.png" alt="SIPENA Logo" class="logo" />
    <h1>Masuk ke Akun Anda</h1>
    <p>Silakan masukkan email dan password Anda.</p>
  </div>

  <!-- BAGIAN BAWAH (PUTIH) -->
  <div class="bottom-section">
    <div class="form-wrapper">
      <ion-item class="input-item">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input
          [(ngModel)]="email"
          type="email"
          label="Email"
          labelPlacement="floating"
          placeholder="Masukkan email"
        ></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input
          [(ngModel)]="password"
          [type]="passwordType"
          label="Password"
          labelPlacement="floating"
          placeholder="Masukkan password"
        ></ion-input>
        <ion-icon
          [name]="passwordIcon"
          slot="end"
          class="toggle-password-icon"
          (click)="togglePasswordVisibility()"
        ></ion-icon>
      </ion-item>

      <div class="forgot-password-link">
        <a (click)="goToForgotPassword()">Lupa Password?</a>
      </div>

      <ion-button
        (click)="doSubmit()"
        expand="block"
        class="login-button"
        [disabled]="isLoading"
      >
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">Masuk</span>
      </ion-button>
    </div>
  </div>
</ion-content>
