ion-content {
  padding-top: env(safe-area-inset-top);
  --padding: 16px;
  --padding-bottom: 20px; // Sesuaikan agar konten tidak tertutup footer
}

ion-header {
  padding-top: env(safe-area-inset-top);
  --background: #ffffff;
  position: relative;
  z-index: 2;
}

.centered-toolbar {
  position: relative;
}

.centered-title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  top: 50%;
  transform: translateY(-50%);
}


.setting-list {
  margin-top: 1rem;
  border-radius: 12px;

  ion-list-header {
    font-weight: bold;
    font-size: 1rem;
    color: #444;
    margin-top: 1rem;
  }

  ion-item {
    --border-radius: 10px;
    margin: 6px 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }

    ion-icon {
      color: #0d6efd;
    }

    ion-label {
      font-size: 15px;
    }
  }

  .logout-btn {
    margin-top: 2rem;
    background: #fff4f4;
    ion-icon {
      color: #d00000;
    }
    ion-label {
      color: #d00000;
      font-weight: bold;
    }
  }
}

.logout-footer {
  bottom: 0;
  background: #ffffff;
  padding: 1rem;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.08);
  z-index: 10;

  ion-button.logout-button {
    --border-color: #d00000;
    --color: #333;
    --background: transparent;
    --border-radius: 12px;
    font-weight: bold;
    width: 100%;
    transition: 0.2s ease-in-out;

    ion-icon {
        color: #333;
    }

    &:active {
        --background: #d00000; 
        --color: #333;
    }
    }
}


.footer-toolbar {
  bottom: 0;
  width: 100%;
  --background: #ffffff;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 6px 0;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
}

.footer-icon {
  padding: 10px;
  border-radius: 12px; // sedikit membulat agar tetap modern
  transition: background 0.2s ease;
  
  ion-icon {
    font-size: 22px;
    color: #083f73;
    transition: color 0.2s ease;
  }
}

.footer-icon.active {
  background: rgba(8, 63, 115, 0.15);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;

  ion-icon {
    color: #003b6f;
    font-weight: bold;
  }
}