.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #003b6f;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-logo {
  width: 160px;
  height: 160px;
  object-fit: contain;
  border-radius: 50%;
  background-color: #f6f6f6;
  padding: 20px;
  margin-bottom: 20px;
}

// .spinner {
//   color: #000;
// }
